---
title: Le Wagon - Middleman - About
---

<div class="wrapper homepage-about">
  <div class="before-banner">
    <div class="banner">
      <div class="banner-text">
        <h2>I am Gabriela, a nomadic traveller. <br> I've lived between Venezuela, Brasil, New York, and London. <br>Some how along the way I became a <br> <em>web developer, designer and strategist</em></h2>
      </div>
    </div>
    <div class="about-information">
      <div class="photo">
        <%= image_tag "avatar.jpg", class: "profile-photo" %>
      </div>
      <div class="about-text">
        <div class="left-about">
          <div class="part-one">
            <h3>hello</h3>
            <p>bla bla bla</p>
          </div>
          <div class="part-two">
            <h3>hello again</h3>
            <p>Fa LA La LA</p>
          </div>
        </div>
        <div class="right-about">
          <div class="third-part">
            <h3>last part</h3>
            <p>hohoh hoh ho</p>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-info">
      <h3>For collaborations  or inquirys</h3>
      <p>gmartinezcampos@mac.com</p>
    </div>
  </div>
</div>



