---
title: Le Wagon - Middleman - About
---

<div class="wrapper homepage-about">
  <div class="before-banner">
    <div class="banner">
      <div class="banner-text">
        <h2>I am Gabriela, a nomadic traveller. <br> I've lived between Venezuela, Brasil, New York, and London. <br>Some how along the way I became a <br> <em>web developer, designer and strategist</em></h2>
      </div>
    </div>
    <div class="about-information">
      <div class="photo">
        <%= image_tag "avatar.jpg", class: "profile-photo" %>
      </div>
      <div class="about-text">
        <div class="left-about">
          <div class="part-one">
            <h3 class="subtitles">I AM - </h3>
            <p class="subtitles-body">Full Stack Developer <br> UI/UX Designer <br> Design Strategist</p>
          </div>
          <div class="part-two">
            <h3 class="subtitles">EDUCATION - </h3>
            <p class="subtitles-body">Le Wagon London <br> Parsons The New School of Design</p>
          </div>
          <div class="part-three">
            <h3 class="subtitles">LANGUAGES - </h3>
            <p class="subtitles-body">English <br> Spanish <br> Portuguese</p>
          </div>
        </div>
          <div class="middle-about">
            <div class="part-one">
              <h3 class="subtitles">SKILLS - </h3>
              <p class="subtitles-body">Adobe Creative Cloud (Photoshop, Illustrator, InDesign), Sketch, Microsoft Office, Wordpress, Squarespace, Shopify, Joor & NuOrder,
              Ruby on Rails, HTML5, CSS, JavaScript, JQuery, Bootstrap, MVC architecture, SQL, PostgreSQL, Github & Heroku</p>
            </div>
            <div class="part-two">
              <h3 class="subtitles">EDUCATION - </h3>
              <p class="subtitles-body">Le Wagon London <br> Parsons The New School of Design</p>
            </div>
          </div>
        <div class="right-about">
          <div class="third-part">
            <h3 class="subtitles">last part</h3>
            <p class="subtitles-body">I am a Full-Stack Developer with a degree in Design and Management with three years experience working in the fashion industry in
            New York. I have completed Le Wagon’s 9 week Ruby on Rails Coding Bootcamp, ranked the number 1 coding bootcamp in the world
            on SwitchUp. Having built and shipped real web applications to production, I am looking for an exciting new role where i can continue
            to learn and work in a great team.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-info">
      <h3>For collaborations or inquiries</h3>
      <a class="email-link" href="mailto:gmartinezcampos@mac.com?Subject=Lets%20collaborate" target="_top"><em>gmartinezcampos@mac.com</em></a>
    </div>
  </div>
</div>



