---
title: Le Wagon - Middleman - About
---

<div class="wrapper homepage">
  <div class="banner">
    <div class="banner-text">
      <h2>I am Gabriela bla and i am a <br> web developer, designer and strategist</h2>
    </div>
  </div>
  <div class="about-information">
    <div class="photo">
    </div>
    <div class="about-text">
      <div class="left-about">
        <div class="part-one">
          <h3>hello</h3>
          <p>bla bla bla</p>
        </div>
        <div class="part-two">
          <h3>hello again</h3>
          <p>Fa LA La LA</p>
        </div>
      </div>
      <div class="right-about">
        <div class="third-part">
          <h3>last part</h3>
          <p>hohoh hoh ho</p>
        </div>
      </div>
      <div class="contact-info">
        <h3>For jobs or inquirys</h3>
        <p>gmartinezcampos@mac.com</p>
      </div>
    </div>
  </div>
</div>



