---
title: Le Wagon - Middleman
---
<div class="wrapper homepage">
  <div class="project-cards-top">
    <div class="row-one">
      <div class="ports-card">
        <%= link_to "Ports", "ports.html" %>
        <h2>Ports</h2>
        <p><em>- web design</em></p>
      </div>
      <div class="kibble-card">
        <h2>Kibble Pet</h2>
        <p><em>- social media strategy</em></p>
      </div>
      <div class="rikoko-card">
        <h2>Rikoko Beauty</h2>
        <p><em>- social media strategy</em></p>
      </div>
    </div>
  </div>
  <div class="project-cards-bottom">
    <div class="bottom-half">
      <div class="left-cards">
        <div class="idk-card">
          <h2>idk.</h2>
          <p><em>- mobile web design</em></p>
        </div>
        <div class="labelm-card">
          <h2>Label M.</h2>
          <p><em>- web design</em></p>
        </div>
      </div>
      <div class="right-cards">
        <div class="stationary-card">
          <h2>Stationary Cards</h2>
          <p><em>- graphic design</em></p>
        </div>
        <div class="wholesale-card">
          <h2>High Street Showroom</h2>
          <p><em>- wholesale strategy</em></p>
        </div>
      </div>
    </div>
  </div>
</div>
