---
title: Le Wagon - Middleman
---
<div class="wrapper homepage">
  <div class="project-cards-top">
    <div class="row-one">
      <div class="ports-card">
        <%= link_to "Ports", "ports.html" %>
        <p>ports</p>
      </div>
      <div class="kibble-card">
        <p>kibble pet</p>
      </div>
      <div class="rikoko-card">
        <p>rikoko beauty</p>
      </div>
    </div>
  </div>
  <div class="project-cards-bottom">
    <div class="bottom-half">
      <div class="left-cards">
        <div class="idk-card">
          <p>idk</p>
        </div>
        <div class="labelm-card">
          <p>label m</p>
        </div>
      </div>
      <div class="right-cards">
        <div class="stationary-card">
          <p>stationary card</p>
        </div>
        <div class="wholesale-card">
          <p>whole sale</p>
        </div>
      </div>
    </div>
  </div>
</div>
